<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Access to your Media for collecting supporting documents (pdf or any other format) will be towards regulatory requirements, your availing of various financial and non financial offerings, for App functionality, Fraud prevention, security and compliance, Account management and Analytics.</string>
	<key>NSCameraUsageDescription</key>
	<string>Your profile picture or any supporting document will be collected for App functionality, Fraud prevention, security and compliance, personalisation and for obtaining various financial and non-financial offerings.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Access to your Gallery is for obtaining access to photos to avail financial and non financial products and for App functionality, Fraud prevention, security and compliance, Account management and Analytics.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to your Gallery is for obtaining access to photos to avail financial and non financial products and for App functionality, Fraud prevention, security and compliance, Account management and Analytics.</string>
	<key>NSContactsUsageDescription</key>
	<string>Access to read Contacts to get in touch with your Buddies</string>
	<key>NSFaceIDUsageDescription</key>
	<string>To ensure security using available mobile security authentications</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Access to get your location to proceed with this Process</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
